
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Questrial", sans-serif;
}

:root{
    --red: #FF3131;
    --gray: #A9A9A9;
    --white: #fff;
    --black: #000;
}

html, body{
    width: 100%;
    height: 100%;
    position: relative;
}

header{
    width: 100%;
    height: 165px;
}

.navbar{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    z-index: 1;
}

.navbar-main{
    background-color: var(--white);
    box-shadow: 2px 2px 5px var(--black);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    margin-left: 120px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 180px;
    object-fit: cover;
    background-color: var(--white);
    padding: 10px;
    border-radius: 10px;
}

.nav-main-links{
    display: flex;
}

.nav-main-link{
    margin: 5px;
    font-size: 20px;
    color: var(--gray);
    cursor: pointer;
    padding: 26px;
    transition: 0.2s;
}

.nav-main-link:hover{
    border-bottom: 10px solid var(--red);
    color: var(--black);
}

.navbar-contacts{
    background-color: var(--red);
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-contact-links{
    display: flex;
}

.nav-contact-links li:nth-child(-n+2) > a{
    cursor: default;
}

.nav-contact-item{
    margin: 20px;
}

.nav-contact-link{
    margin: 5px;
    font-size: 20px;
    color: var(--white);
    cursor: pointer;
}

.nav-menu{
    display: none;
}

main{
    width: 100%;
    height: auto;
}

.section-home{
    width: 100%;
    height: 600px;
}

.carousel-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.carousel{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

.carousel img{
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    object-fit: cover;
    scroll-snap-align: start;
}

.carousel-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-nav > a{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: var(--red);
    opacity: 70%;
    cursor: pointer;
    transition: opacity ease 0.5s;
}

.carousel-nav > a:hover{
    opacity: 100%;
}

.section-about{
    width: 100%;
    height: 1200px;
    background-color: var(--red);
    position: relative;
    padding: 60px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.about-box{
    background-color: var(--white);
    width: 95%;
    height: 500px;
    position: absolute;
    right: 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
}

.about-text{
    width: 60%;
    height: 100%;
    padding: 50px;
}

.title{
    color: var(--red);
    margin: 20px;
    font-size: 26px;
}

.paragraph{
    margin: 20px;
    color: var(--black);
    font-size: 20px;
}

.about-img{
    width: 40%;
    height: 100%;
    position: relative;
}

.about-img img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    position: absolute;
    bottom: 0px;
    border-top-left-radius: 50px;
}

.about-items{
    position: absolute;
    top: 650px;
    left: 0px;
    width: 100%;
    height: 350px;
}

.about-items-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.about-item{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 500px;
}

.about-item-box{
    background-color: var(--white);
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: var(--red);
    margin: 20px;
}

.item-title{
    color: var(--white);
    margin: 20px;
    font-size: 26px;
}

.item-paragraph{ 
    margin: 20px;
    color: var(--white);
    font-size: 20px;
}

.section-acting{
    width: 100%;
    height: 600px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.acting-text{
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 50px;
}

.acting-img{
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 0px;
}

.acting-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 70%;
    mask-image: linear-gradient(to right, transparent 0%, var(--black) 100%);
}


.section-fleet{
    width: 100%;
    height: 1000px;
    background-color: var(--red);
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fleet-container{
    background-color: var(--white);
    width: 100%;
    height: 850px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fleet-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fleet-item{
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.fleet-item h4{
    font-size: 20px;
}

.fleet-item img{
    width: 300px;
    object-fit: cover;
}

.fleet-link{
    margin: 30px;
    display: flex;
    justify-content: start;
    width: 100%;
}

.fleet-link a{
    color: var(--red);
    font-size: 26px;
    margin-left: 70px;
}

.section-services{
    width: 100%;
    height: 750px;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-container{
    background-color: var(--red);
    width: 100%;
    height: 600px;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.service-title{
    color: var(--white);
    margin: 20px;
    font-size: 26px;
}

.service-paragraph{
    margin: 20px;
    color: var(--white);
    font-size: 20px;
}

.services-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.service-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-item > img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50px;
}

.section-contact{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact-box{
    width: 600px;
    height: 700px;
    background-color: #FF3131;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact-item{
    display: flex;
    justify-content: start;
    align-items: center;
}

.contact-item > i{
    font-size: 40px;
    color: var(--white);
    margin-right: 30px;
    width: 50px;
    height: 50px;
}

.contact-title{
    color: var(--white);
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-paragraph{
    margin: 20px;
    color: var(--white);
    font-size: 20px;
    width: 400px;
}

.map-box{
    width: 600px;
    height: 700px;
    border: 3px solid #FF3131;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    overflow: hidden;
}

.map-box > iframe{
    width: 100%;
    height: 100%;
}

footer{
    width: 100%;
    height: 100px;
    background-color: var(--red);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

footer > p{
    color: var(--white);
    font-size: 20px;
    margin-left: 50px;
}

footer > img{
    margin-right: 120px;
}

.arrow-box{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--red);
    font-size: 25px;
    border: 3px solid var(--red);
    cursor: pointer;
}

.hide-button{
    display: none;
}

/* telas inferiores a 430 - MOBILE */
@media screen and (max-width: 430px){ 
    header{
        height: 90px;
    }
    .navbar{
        display: block;
        overflow: hidden;
        height: 90px;
        border-bottom: 2px solid var(--black);
        position: relative;
        transition: 1s;
    }

    .navbar-main{
        justify-content: space-between;
        align-items: center;
        position: relative;
        box-shadow: none;
    }

    .nav-logo{
        margin-left: 30px;
    }
    
    .logo{
        width: 150px;
    }

    .nav-links{
        width: 100%;
        height: 600px;
        position: absolute;
        top: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: var(--white);
    }

    .nav-main-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .nav-main-item{
        margin: 20px;
        width: 100%;
    }

    .nav-main-link{
        padding: 20px;
    }

    .navbar-contacts{
        width: 100%;
        height: 270px;
        position: absolute;
        justify-content: center;
        top: 530px;
    }

    .nav-contact-links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav-contact-item{
        margin: 20px;
    }
    
    .nav-contact-link{
        margin: 5px;
        font-size: 20px;
        color: var(--white);
        cursor: pointer;
    }

    .nav-menu{
        display: flex;
    }

    .nav-menu-button{
        padding: 20px;
        font-size: 30px;
        color: var(--red);
        margin-right: 20px;
        cursor: pointer;
    }

    .navbar-expanded{
        height: 800px;
    }

    .section-home{
        height: 300px;
    }

    .section-about{
        height: 2600px;
        position: relative;
    }

    .about-box{
        width: 300px;
        height: 1000px;
        position: relative;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
    }
    
    .about-text{
        width: 100%;
        height: 100%;
        padding: 0px;
        padding-top: 10px;
        text-align: center;
    }
    
    
    .about-img{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about-img img{
        width: 250px;
        height: 250px;
        position: relative;
        border-radius: 50px;
    }

    .about-items{
        top: 1150px;
    }
    
    .section-acting{
        height: 1000px;
        text-align: center;
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
        justify-content: space-evenly;
    }
    
    .acting-text{
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0px;
    }
    
    .acting-img{
        width: 400px;
        height: 400px;
        align-items: start;
        position: relative;
    }
    
    .acting-img > img{
        width: 300px;
        height: 300px;
        margin: 60px;
        mask-image: none;
        border-radius: 20px;
    }

    .section-fleet{
        height: 2100px;
    }
    
    .fleet-container{
        height: 2000px;
    }

    .fleet-item{
        margin: 0px;
    }
    
    
    .fleet-link{
        margin: 0px;
        justify-content: center;
    }
    
    .fleet-link a{
        font-size: 22px;
        margin-left: 0px;
        text-align: center;
    }

    .section-services{
        height: 1600px;
        padding: 30px;
    }
    
    .services-container{
        height: 1300px;
    }

    .service-item{
        margin: 30px;
    }

    .section-contact{
        height: 1300px;
        justify-content: center;
    }
    
    .contact-box{
        width: 350px;
        height: 700px;
        border-radius: 50px;
        align-items: center;
    }

    
    .contact-item{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .contact-item > i{
        margin-right: 0px;
    }
    
    .contact-paragraph{
        text-align: center;
        width: 250px;
    }
    
    .map-box{
        width: 350px;
        height: 350px;
        border-radius: 50px;
        align-items: center;
    }
    
    .map-box > iframe{
        width: 100%;
        height: 100%;
    }

    footer{
        height: 180px;
        justify-content: space-between;
        flex-direction: column-reverse;
        padding: 30px;
    }
    
    footer > p{
        text-align: center;
        margin-left: 0px;
    }
    
    footer > img{
        margin-right: 0px;
    }


}

/* telas superiores a 1920 */
@media screen and (min-width: 1920px){
    .section-home{
        height: 770px;
    }

    .section-fleet{
        height: 1100px;
    }
    
    .fleet-container{
        height: 1000px;
    }

    .fleet-item{
        width: 450px;
        height: 400px;
        margin: 0px;
    }

    .contact-box{
        width: 800px;
        padding-left: 100px;
    }

    .map-box{
        width: 800px;
    }
}